*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:90vw;
    margin:0 auto;
    padding:10px;
    display:grid;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-rows: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "hd hd"
    "c1 c2"
    "c3 c4"
    "c5 c6";
}

.b{
    grid-area: hd;
    border:none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.ser{
    position:relative;
}
.ser img{
    height:1.5rem;
}
.ser input{
    position:absolute;
    left:-6rem;
    top:1px;
    opacity:0;
    height:1.5rem;
    border-radius: 5px;
    width:0;
    transition:width 0.4s;
}
.ser:hover input{
    transition: 0.2s;
    opacity:1;
    width:8rem;
}
.ser:hover img{
    opacity:0;
}
.b1{
    border:2px solid rgb(192, 188, 188);
    border-radius: 3px;
    padding:1rem;
}
.b1:hover{
    box-shadow: 0px 0px 4px rgb(147, 142, 142);
}
.c1 .p1{
    color:rgb(4, 88, 224);
    margin-bottom: 0.5rem;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
}
.p2{
    margin-bottom: 0.5rem;
    color:rgb(68, 62, 62);
    font-family:Arial, Helvetica, sans-serif;
}
.p3{
    font-family:Arial, Helvetica, sans-serif;
}
.b1 a{
    color:rgb(4, 88, 224);
    font-family:Arial, Helvetica, sans-serif;
}
.c2 .p1{
    color:rgb(24, 157, 62);
    margin-bottom: 0.5rem;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
}

